#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.box {
   cursor: pointer;
   width: 35px;
   height: 30px;
   border: 1px solid #555;
   border-radius: 6px;
   transition: background-color 0.2s;
}

.row{
display: flex;
flex-direction: row;
align-items: center;
gap: 8px;
margin-bottom: 8px;
/* margin-right:120px ; */
}


.instrument-name {
   width: 120px;
   text-align: left;
   font-weight: 600;
}

.parent{
   width: fit-content;
   margin: auto;
}


.box.active {
   background-color: green;
}

.playing {
   background-color: rgba(255,255,0,0.3);
}

.box.alt{ background: orange; }